<h1 class="window-title">Galerie</h1>
<h3>Starší galerie na <a target="_blank" href="http://picasaweb.google.com/tomas.hanak">Google Picasa</a></h3>
<div class="row">
	<ul class="thumbnails">
		<% _.each(galleries, function(gallery){ %>
		<li><a class="thumbnail" href="/<%= galleriesPath %>/<%= gallery.id %>"
				><img style="width:<%= gallery.lastItem.thumbnail.width %>px;height:<%= gallery.lastItem.thumbnail.height %>px;"
					onerror="onThumbnailLoadError(this)"
					alt="<%= gallery.lastItem.title %>"
					title="<%= gallery.lastItem.title %>"
					src="/<%= gallery.lastItem.thumbnail.path %>"
				><h5><%= gallery.title %></h5></a>
		</li>
		<% }); %>
	</ul>
</div>
