<div class="modal fade" id="galleryOverlayModal" tabindex="-1" role="dialog" aria-labelledby="galleryOverlayLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header p-3 pt-2 pb-2">
				<div class="content container-fluid gap-2 p-0 m-0 d-flex justify-content-start">
					<h5 class="modal-title fs-5 info opacity-50">:: </h5>
					<h5 class="modal-title fs-5 info media-title text-truncate" id="galleryOverlayLabel"></h5>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body media-container container-fluid p-0 m-0 text-center"></div>
			<div class="modal-footer p-3 pt-2 pb-2">
				<div class="container-fluid gap-2 p-0 m-0 d-flex justify-content-between align-items-center">
					<div class="filter-counter w-25 text-start">
						<span class="filter-current">?</span>&nbsp;/&nbsp;<span class="filter-visible">?</span>
					</div>
					<button class="media-previous btn btn-outline-secondary w-25 bi bi-caret-left-fill" type="button"></button>
					<button class="media-next btn btn-outline-secondary w-25 bi bi-caret-right-fill" type="button"></button>
					<a class="media-original w-25 text-end" target="_blank">Originál</a>
				</div>
			</div>
		</div>
	</div>
</div>
