<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="content">
					<button class="previous" type="button"></button>
					<button class="next" type="button"></button>
					<div class="media-container"></div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="content">
					<div class="info title"></div>
					<div class="info"><span class="counter"><span class="current">?</span>&nbsp;/&nbsp;<span class="total">?</span></span><a class="original" target="_blank">Stáhnout originál</a></div>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
			</div>
		</div>
	</div>
</div>
